.main__categorie{
	border:2px solid black;
	background:black;
	color:white;
	text-align:center;
	font-family:sans-serif;
	font-size:30px;
	padding:6px;
	text-decoration:none;
	color:white;
}
.main__categorie1{
	padding:15px;
	
}
.main__categorie1:hover{
	opacity:0.5;
}
.main__categorie2{
	padding:15px;
}
.main__categorie2:hover{
	opacity:0.5;
}
.main__categorie3{
	padding:15px;
}
.main__categorie3:hover{
	opacity:0.5;
}
.main__categorie4{
	padding:15px;
}
.main__categorie4:hover{
	opacity:0.5;
}
.main__categorie5{
	padding:15px;
}
.main__categorie5:hover{
	opacity:0.5;
}
.main__categorie6{
	padding:15px;
}
.main__categorie6:hover{
	opacity:0.5;
	}
