table {
	 border:1px solid black;
	 margin-top:15px;
	 margin-left:15px;
	 width:50%;
	 text-align:center;
 }
td { 
	 border:1px solid black;
	 text-align:center;
	 width:12.5%;
	 height:12.5%;
 }
 th{
 	border:1px solid black;
 	text-align:center;
 	
 }